<h2>
  <span title="<%= @player[:name_changes].collect{ |n| pretty_name(n) }.join(" \n") %>"><%= pretty_name(@player[:name]) %></span>
</h2>

<div class="rbox">
  <div class="row">
    <div class="three columns">
      <b>Kills:</b>
      <%= @player[:kills] %></div>
    <div class="three columns">
      <b>Deaths:</b>
      <%= @player[:deaths] %></div>
    <div class="three columns">
      <b>K/D:</b>
      <%= @player[:kd].round(2) %></div>
    <div class="three columns">
      <b>Headshots:</b>
      <%= @player[:headshots].to_i %>%</div>
  </div>

  <div class="row">
    <div class="three columns">
      <b>Longest Range:</b>
      <%= @player[:longest_range] %>
      m</div>
    <div class="three columns">
      <b>Average Range:</b>
      <%= @player[:average_range] %>
      m</div>
    <div class="three columns">
      <b>R/L Hit Bias:</b>
      <%= @player[:hit_bias] %></div>
    <div class="three columns">
      <b>Longest KS:</b>
      <span title="<%= @player[:killstreaks].collect{ |k, v| k + " : " + v.to_s }.join(" \n") %>"><%= @player[:longest_killstreak] %></span>
    </div>
  </div>
</div>
<br/>

<div class="rbox">
  <h4>Kills</h4>
  <div class="row">
    <div class="six columns"><%= pie_chart [["Kills in FFA", @player[:kill_per_team][""]], ["Kills as Allies", @player[:kill_per_team]["allies"]], ["Kills as Axis", @player[:kill_per_team]["axis"]]], width: "350px", library: { legend: "none" } %></div>
    <div class="six columns"><%= column_chart [ { name: "Kills", data: { "Grenade" => @player[:grenade_kills], "Melee" => @player[:melee_kills], "Teamkill" => @player[:teamkills] } },
																								{ name: "Deaths", data: { "Grenade" => @player[:grenade_deaths], "Melee" => @player[:melee_deaths], "Teamkill" => @player[:teamkilled] } }
																							], library: { legend: "none" } %></div>
  </div>
</div>
<br/>

<div class="rbox">
  <h4>K/D History</h4>
  <%= line_chart @charts[:kd], discrete: true %>
</div>
<br/>

<div class="rbox">
  <h4>Kill ranges</h4>
  <%= area_chart [ { name: "Kills", data: @charts[:range] }, { name: "Headshots", data: @charts[:range_hs] } ], discrete: true, stacked: false, library: { legend: "none", hAxis: { title: "Range (m)" } } %>
</div>
<br/>

<div class="row">
  <div class="four columns rbox">
    <h4>Killed</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Kills</th>
          <th>%</th>
        </tr>
      </thead>

      <tbody>
        <% @player[:killed].each do |kill| %>
        <tr>
          <td><%= pretty_name(kill[:name]) %></td>
          <td><%= kill[:kills] %></td>
          <td><%= number_to_percentage(kill[:percentage], precision: 0) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="four columns rbox">
    <h4>Matchups</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>KD</th>
        </tr>
      </thead>

      <tbody>
        <% @player[:matchups].each do |kill| %>
        <tr>
          <td><%= pretty_name(kill[:name]) %></td>
          <td><%= number_with_precision(kill[:kd], precision: 2)  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="four columns rbox">
    <h4>Killed by</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Deaths</th>
          <th>%</th>
        </tr>
      </thead>

      <tbody>
        <% @player[:killed_by].each do |kill| %>
        <tr>
          <td><%= pretty_name(kill[:name]) %></td>
          <td><%= kill[:kills] %></td>
          <td><%= number_to_percentage(kill[:percentage], precision: 0) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br/>

<div class="row">
  <div class="one-half column rbox">
    <h4>Kills with guntype</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Kills</th>
          <th>%</th>
          <th>Div</th>
        </tr>
      </thead>

      <tbody>
        <% @player[:killed_with_guntype].each do |kill| %>
        <tr>
          <td><%= pretty_gun(kill[:name]) %></td>
          <td><%= kill[:kills] %></td>
          <td><%= kill[:percentage] %>%</td>
          <td><%= kill[:divergence] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="one-half column rbox">
    <h4>Killed by guntype</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Deaths</th>
          <th>%</th>
          <th>Div</th>
        </tr>
      </thead>

      <tbody>
        <% @player[:killed_by_guntype].each do |kill| %>
        <tr>
          <td><%= pretty_gun(kill[:name]) %></td>
          <td><%= kill[:kills] %></td>
          <td><%= kill[:percentage] %>%</td>
          <td><%= kill[:divergence] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br/>

<div class="row">
  <div class="one-half column rbox">
    <h4>Kills with gun</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Weapon</th>
          <th>Kills</th>
          <th>%</th>
          <th>Div</th>
        </tr>
      </thead>

      <tbody>
        <% @player[:killed_with_gun].each do |kill| %>
        <tr>
          <td><%= pretty_gun(kill[:name]) %></td>
          <td><%= kill[:kills] %></td>
          <td><%= kill[:percentage] %>%</td>
          <td><%= kill[:divergence] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="one-half column rbox">
    <h4>Killed by gun</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Weapon</th>
          <th>Deaths</th>
          <th>%</th>
          <th>Div</th>
        </tr>
      </thead>

      <tbody>
        <% @player[:killed_by_gun].each do |kill| %>
        <tr>
          <td><%= pretty_gun(kill[:name]) %></td>
          <td><%= kill[:kills] %></td>
          <td><%= kill[:percentage] %>%</td>
          <td><%= kill[:divergence] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br/>

<div class="row">
  <div class="one-half column rbox">
    <h4>Kills with damage</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Damage</th>
          <th>Kills</th>
          <th>%</th>
          <th>Div</th>
        </tr>
      </thead>

      <tbody>
        <% @player[:killed_with_damage].each do |kill| %>
        <tr>
          <td><%= pretty_location(kill[:name]) %></td>
          <td><%= kill[:kills] %></td>
          <td><%= kill[:percentage] %>%</td>
          <td><%= kill[:divergence] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="one-half column rbox">
    <h4>Killed by damage</h4>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Damage</th>
          <th>Deaths</th>
          <th>%</th>
          <th>Div</th>
        </tr>
      </thead>

      <tbody>
        <% @player[:killed_by_damage].each do |kill| %>
        <tr>
          <td><%= pretty_location(kill[:name]) %></td>
          <td><%= kill[:kills] %></td>
          <td><%= kill[:percentage] %>%</td>
          <td><%= kill[:divergence] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
